*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron';
    font-style: normal;
    // font-display: swap;
    list-style: none;
    text-decoration: none;
    // outline: 1px solid red;
}
.container{
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    // border: 1px solid red;
}